$content-width: 1240px !default;
$content-width--narrow: 768px !default;

$mq-breakpoints: (
	small: 420px,
	medium: 768px,
	large: 1024px,
	xlarge: $content-width
) !default;


// $sm-grid: (
//     "content_width": $content-width,
//     "column_count": 12,
//     "column_gutter": 8px,
//     "column_side": 12px,
//     "row_height": 16px,
//     "large": (
//         "breakpoint": 1024px,
//         "column_count": 12,
//         "column_gutter": 8px,
//         "column_side": 12px,
//         "row_height": 16px,
//     ),
//     "medium": (
//         "breakpoint": 768px,
//         "column_count": 12,
//         "column_gutter": 8px,
//         "column_side": 12px,
//         "row_height": 16px,
//     ),
//     "small": (
//         "breakpoint": 420px,
//         "column_count": 6,
//         "column_gutter": 8px,
//         "column_side": 12px,
//         "row_height": 16px,
//     )
// ) !default;

$spacing: (
	"extra-small": 4px,
	"small": 8px,
	"regular": 16px,
	"large": 32px,
	"extra-large": 64px,
	"extra-extra-large": 128px
) !default;;

$sizes: (
	"extra-small": 4px,
	"small": 8px,
	"regular": 16px,
	"large": 32px,
	"extra-large": 64px,
	"extra-extra-large": 128px,
	"content-narrow": $content-width--narrow,
	"content-wide": $content-width
) !default;

$transition: .3s !default;;