/**
*========================================
*	
*	Molecules
*	
*========================================
*/


.sm-debug {
    position: fixed;
    height: 90vh;
    width: 100vw;
    max-width: 600px;
    overflow: scroll;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ddd;
    z-index: 100000;
    padding: 20px;
}