/**
 * ========================================
 * 
 * Editor Styles Partial
 * 
 * ========================================
 */

// Essentials

@import '../essentials';

// Generic

@import '../3_generic/generic';


// SM-TODO: check why this is not working

li {
    color: red !important;
    &::before {
        content: none;
        margin: 0;
    }
}